%p#notice= notice

%p
  %b Start time:
  = @travel.start_time.strftime("%I:%M%p")
%p
  %b Day:
  = @travel.day
%p
  %b Bus:
  = @travel.bus

= link_to 'Edit', edit_travel_path(@travel)
\|
= link_to 'Back', travels_path
